.btn-dark:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #4b4b4b;
}
 .btn-dark:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-dark:hover:not(.disabled):not(:disabled) {
     background-color: rgba(75, 75, 75, 0.12);
}
 .btn-relief-dark:hover:not(.disabled):not(:disabled) {
     background-color: #626262;
}
 .btn-outline-dark:hover:not(.disabled):not(:disabled) {
     background-color: rgba(75, 75, 75, 0.04);
     color: #4b4b4b;
}
 .btn-outline-dark:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):focus {
     background-color: rgba(75, 75, 75, 0.2);
     color: #4b4b4b;
}
 .form-check-dark .form-check-input:not(:disabled):checked, .form-check-dark .form-check-input:not(:disabled):focus {
     border-color: #4b4b4b;
     box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.4);
}
 .btn-primary:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #7367f0;
}
 .btn-primary:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-primary:hover:not(.disabled):not(:disabled) {
     background-color: rgba(115, 103, 240, 0.12);
}
 .btn-relief-primary:hover:not(.disabled):not(:disabled) {
     background-color: #887ef2;
}
 .btn-outline-primary {
     border: 1px solid #7367f0 !important;
     background-color: transparent;
     color: #7367f0;
}
 .btn-outline-primary:hover:not(.disabled):not(:disabled) {
     background-color: rgba(115, 103, 240, 0.04);
     color: #7367f0;
}
 .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):focus {
     background-color: rgba(115, 103, 240, 0.2);
     color: #7367f0;
}
 .form-check-primary .form-check-input:not(:disabled):checked, .form-check-primary .form-check-input:not(:disabled):focus {
     border-color: #7367f0;
     box-shadow: 0 2px 4px 0 rgba(115, 103, 240, 0.4);
}
 .btn-secondary:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #82868b;
}
 .btn-secondary:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-secondary:hover:not(.disabled):not(:disabled) {
     background-color: rgba(130, 134, 139, 0.12);
}
 .btn-relief-secondary:hover:not(.disabled):not(:disabled) {
     background-color: #8f9397;
}
 .btn-outline-secondary:hover:not(.disabled):not(:disabled) {
     background-color: rgba(130, 134, 139, 0.04);
     color: #82868b;
}
 .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):focus {
     background-color: rgba(130, 134, 139, 0.2);
     color: #82868b;
}
 .form-check-secondary .form-check-input:not(:disabled):checked, .form-check-secondary .form-check-input:not(:disabled):focus {
     border-color: #82868b;
     box-shadow: 0 2px 4px 0 rgba(130, 134, 139, 0.4);
}
 .btn-success:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #28c76f;
}
 .btn-success:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-success:hover:not(.disabled):not(:disabled) {
     background-color: rgba(40, 199, 111, 0.12);
}
 .btn-relief-success:hover:not(.disabled):not(:disabled) {
     background-color: #33d67c;
}
 .btn-outline-success:hover:not(.disabled):not(:disabled) {
     background-color: rgba(40, 199, 111, 0.04);
     color: #28c76f;
}
 .btn-outline-success:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):focus {
     background-color: rgba(40, 199, 111, 0.2);
     color: #28c76f;
}
 .form-check-success .form-check-input:not(:disabled):checked, .form-check-success .form-check-input:not(:disabled):focus {
     border-color: #28c76f;
     box-shadow: 0 2px 4px 0 rgba(40, 199, 111, 0.4);
}
 .btn-info:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #00cfe8;
}
 .btn-info:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-info:hover:not(.disabled):not(:disabled) {
     background-color: rgba(0, 207, 232, 0.12);
}
 .btn-relief-info:hover:not(.disabled):not(:disabled) {
     background-color: #03e4ff;
}
 .btn-outline-info:hover:not(.disabled):not(:disabled) {
     background-color: rgba(0, 207, 232, 0.04);
     color: #00cfe8;
}
 .btn-outline-info:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):focus {
     background-color: rgba(0, 207, 232, 0.2);
     color: #00cfe8;
}
 .form-check-info .form-check-input:not(:disabled):checked, .form-check-info .form-check-input:not(:disabled):focus {
     border-color: #00cfe8;
     box-shadow: 0 2px 4px 0 rgba(0, 207, 232, 0.4);
}
 .btn-warning:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #ff9f43;
}
 .btn-warning:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-warning:hover:not(.disabled):not(:disabled) {
     background-color: rgba(255, 159, 67, 0.12);
}
 .btn-relief-warning:hover:not(.disabled):not(:disabled) {
     background-color: #ffac5d;
}
 .btn-outline-warning:hover:not(.disabled):not(:disabled) {
     background-color: rgba(255, 159, 67, 0.04);
     color: #ff9f43;
}
 .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):focus {
     background-color: rgba(255, 159, 67, 0.2);
     color: #ff9f43;
}
 .form-check-warning .form-check-input:not(:disabled):checked, .form-check-warning .form-check-input:not(:disabled):focus {
     border-color: #ff9f43;
     box-shadow: 0 2px 4px 0 rgba(255, 159, 67, 0.4);
}
 .btn-danger:hover:not(.disabled):not(:disabled) {
     box-shadow: 0 8px 25px -8px #ea5455;
}
 .btn-danger:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-flat-danger:hover:not(.disabled):not(:disabled) {
     background-color: rgba(234, 84, 85, 0.12);
}
 .btn-relief-danger:hover:not(.disabled):not(:disabled) {
     background-color: #ed6b6c;
}
 .btn-outline-danger:hover:not(.disabled):not(:disabled) {
     background-color: rgba(234, 84, 85, 0.04);
     color: #ea5455;
}
 .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
     box-shadow: none;
}
 .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):focus {
     background-color: rgba(234, 84, 85, 0.2);
     color: #ea5455;
}
 .form-check-danger .form-check-input:not(:disabled):checked, .form-check-danger .form-check-input:not(:disabled):focus {
     border-color: #ea5455;
     box-shadow: 0 2px 4px 0 rgba(234, 84, 85, 0.4);
}
 .bg-gradient-dark:hover:not(.disabled):not(:disabled), .btn-gradient-dark:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 .bg-gradient-primary:hover:not(.disabled):not(:disabled), .btn-gradient-primary:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 .bg-gradient-secondary:hover:not(.disabled):not(:disabled), .btn-gradient-secondary:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 .bg-gradient-success:hover:not(.disabled):not(:disabled), .btn-gradient-success:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 .bg-gradient-info:hover:not(.disabled):not(:disabled), .btn-gradient-info:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 .bg-gradient-warning:hover:not(.disabled):not(:disabled), .btn-gradient-warning:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 .bg-gradient-danger:hover:not(.disabled):not(:disabled), .btn-gradient-danger:hover:not(.disabled):not(:disabled) {
     transform: translateY(-2px);
}
 