.btn-outline-primary {
	border: 1px solid #7367f0 !important;
	background-color: transparent;
	color: #7367f0;
}

.btn-outline-primary:hover:not(.disabled):not(:disabled) {
	background-color: rgba(115, 103, 240, 0.04);
	color: #7367f0;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):focus {
	background-color: rgba(115, 103, 240, 0.2);
	color: #7367f0;
}
