.navbar.header-navbar .navbar-container {
	padding: 0.8rem 2rem;
}

.menu-wrapper .header-navbar {
	min-height: 4.45rem;
}

footer {
	position: static;
}

.menu-wrapper {
	position: fixed;
	top: 62px;
	z-index: 990;
	width: 100%;
}

.menu-wrapper .header-navbar .navbar-container {
	padding: 0 1rem;
	width: 100%;
}

.header-navbar {
	background: #fff;
	z-index: 999 !important;
	line-height: 1;
	min-height: auto;
}

.header-navbar.navbar-light {
	background: #fff;
}

.header-navbar.navbar-horizontal.floating-nav {
	left: 0;
	top: 62px;
	width: calc(100vw - (100vw - 100%) - calc(2rem * 2));
	background: #fff;
}

.header-navbar .navbar-container {
	border-radius: 0.357rem;
}

.header-navbar.navbar-fixed {
	position: fixed;
	width: 100%;
}

.header-navbar.navbar-brand-center .navbar-header {
	position: absolute;
	left: calc(50% - 56px);
	padding: 0;
	z-index: 1000;
}

.header-navbar.navbar-brand-center .navbar-header .navbar-brand {
	display: flex;
	align-items: center;
	margin-right: 0;
	font-size: inherit;
}

.header-navbar.navbar-horizontal ul#main-menu-navigation>li {
	padding-top: 0.857rem;
	padding-bottom: 0.857rem;
}

.header-navbar.navbar-horizontal ul#main-menu-navigation>li>a {
	padding: 0.715rem 1.25rem;
	display: flex;
	margin-right: 0.715rem;
}

.header-navbar.navbar-horizontal ul#main-menu-navigation>li:hover>a {
	background: #f8f8f8;
	border-radius: 4px;
}

.navbar-floating .header-navbar-shadow {
	height: 80px;
}

@media (min-width: 1200px) {
	.navbar-floating .header-navbar-shadow {
		top: 45px;
	}
}

.navbar-floating .menu-wrapper {
	background: linear-gradient(to bottom, rgba(248, 248, 248, 0.95) 44%, rgba(248, 248, 248, 0.46) 73%, rgba(255, 255, 255, 0) 100%);
	background-repeat: repeat-x;
}

@media (max-width: 1199.98px) {
	.menu-wrapper .header-navbar {
		display: none;
	}

	.header-navbar {
		background: #fff;
	}

	.app-content {
		padding: calc(4.45rem + calc(2rem - 0.8rem)) calc(2rem - 0.8rem) 0 calc(2rem - 0.8rem) !important;
	}
}
